DraughtsPlugin/nbproject/private/private.properties
AICompetition/nbproject/private/private.properties
/DraughtsPlugin/build/
/AICompetition/build/
/AICompetition/dist/
/DraughtsPlugin/dist/
AICompetition/nbproject/private/config.properties